<article class="product-card">
    <img class="product-card__image"
        src="img/products/pubg.jpg"
        width="227"
        height="152"
        alt="Обложка PUBG: Battlegrounds">
    <div class="product-card__content">
        <h3 class="product-card__title">
            <a class="product-card__title-link" href="#">
                <span class="product-card__label-icon product-card__label-icon--red"
                    aria-hidden="true">✳</span>
                DOOM 2016
                <span class="product-card__label-icon" aria-hidden="true">♥</span>
                STEAM KEY
                <span class="product-card__label-icon product-card__label-icon--yellow"
                    aria-hidden="true">◆</span>
                <span class="product-card__region">РФ+СНГ</span>
            </a>
        </h3>
        <div class="product-card__price">
            <span class="product-card__current-price">990 ₽</span>
            <del class="product-card__old-price">1 990 ₽</del>
        </div>
        <button class="product-card__buy-button button-reset" type="button">Купить</button>
    </div>
</article>
