<footer class="site-footer">
    <div class="site-footer__container">
        <nav class="site-footer__main-nav" aria-label="Основная навигация">
            <ul class="site-footer__main-list">
                <li><a class="site-footer__main-link" href="#">Стать продавцом</a></li>
                <li><a class="site-footer__main-link" href="#">Бонусы</a></li>
                <li><a class="site-footer__main-link" href="#">Поддержка</a></li>
                <li><a class="site-footer__main-link" href="#">Гарантии</a></li>
                <li><a class="site-footer__main-link" href="#">Отзывы</a></li>
            </ul>
        </nav>

        <div class="site-footer__contacts">
            <ul class="site-footer__socials" aria-label="Социальные сети">
                <li>
                    <a class="site-footer__social-link" href="#" aria-label="ВКонтакте">
                        <img src="img/icons/social-vk.svg" width="34" height="34" alt="">
                    </a>
                </li>
                <li>
                    <a class="site-footer__social-link" href="#" aria-label="Telegram">
                        <img src="img/icons/social-telegram.svg" width="34" height="34" alt="">
                    </a>
                </li>
                <li>
                    <a class="site-footer__social-link" href="#" aria-label="TikTok">
                        <img src="img/icons/social-tiktok.svg" width="34" height="34" alt="">
                    </a>
                </li>
                <li>
                    <a class="site-footer__social-link" href="#" aria-label="YouTube">
                        <img src="img/icons/social-youtube.svg" width="34" height="34" alt="">
                    </a>
                </li>
            </ul>

            <ul class="site-footer__payments" aria-label="Способы оплаты">
                <li><span class="site-footer__payment site-footer__payment--visa" role="img" aria-label="Visa">VISA</span></li>
                <li><span class="site-footer__payment site-footer__payment--mir" role="img" aria-label="Мир">мир</span></li>
                <li>
                    <span class="site-footer__payment site-footer__payment--mastercard"
                        role="img"
                        aria-label="Mastercard">
                        <span class="site-footer__mastercard-circle site-footer__mastercard-circle--red"></span>
                        <span class="site-footer__mastercard-circle site-footer__mastercard-circle--yellow"></span>
                    </span>
                </li>
            </ul>
        </div>

        <nav class="site-footer__legal-nav" aria-label="Правовая информация">
            <ul class="site-footer__legal-list">
                <li><a class="site-footer__legal-link" href="#">Политика конфиденциальности</a></li>
                <li><a class="site-footer__legal-link" href="#">Соглашение</a></li>
                <li><a class="site-footer__legal-link" href="#">Договор-оферта</a></li>
            </ul>
        </nav>
    </div>
</footer>
