<section class="hero-slider container"
    aria-label="Промо-предложения"
    data-hero-slider>
    <div class="hero-slider__swiper swiper nebo nebo--tr">
        <div class="swiper-wrapper">
            <div class="hero-slider__slide swiper-slide">
                <img class="hero-slider__image"
                    src="img/banners/hero.svg"
                    width="1200"
                    height="263"
                    alt="">
            </div>
            <div class="hero-slider__slide swiper-slide">
                <img class="hero-slider__image"
                    src="img/banners/hero.svg"
                    width="1200"
                    height="263"
                    alt="">
            </div>
            <div class="hero-slider__slide swiper-slide">
                <img class="hero-slider__image"
                    src="img/banners/hero.svg"
                    width="1200"
                    height="263"
                    alt="">
            </div>
            <div class="hero-slider__slide swiper-slide">
                <img class="hero-slider__image"
                    src="img/banners/hero.svg"
                    width="1200"
                    height="263"
                    alt="">
            </div>
            <div class="hero-slider__slide swiper-slide">
                <img class="hero-slider__image"
                    src="img/banners/hero.svg"
                    width="1200"
                    height="263"
                    alt="">
            </div>
            <div class="hero-slider__slide swiper-slide">
                <img class="hero-slider__image"
                    src="img/banners/hero.svg"
                    width="1200"
                    height="263"
                    alt="">
            </div>
        </div>
    </div>

    <div class="hero-slider__controls">
        <button class="hero-slider__button hero-slider__button--prev button-reset"
            type="button"
            aria-label="Предыдущий слайд">
            <img class="hero-slider__button-icon"
                src="img/icons/arrow-left.svg"
                width="20"
                height="20"
                alt="">
        </button>
        <button class="hero-slider__button hero-slider__button--next button-reset"
            type="button"
            aria-label="Следующий слайд">
            <img class="hero-slider__button-icon"
                src="img/icons/arrow-right.svg"
                width="20"
                height="20"
                alt="">
        </button>
    </div>

    <div class="hero-slider__pagination"></div>
</section>
