<section class="reviews container" aria-labelledby="reviews-title">
    <header class="reviews__header">
        <div class="reviews__heading">
            <h2 id="reviews-title" class="reviews__title">Последние отзывы</h2>
            <p class="reviews__subtitle">Все отзывы взяты с независимой площадки</p>
        </div>
        <a class="reviews__all-link" href="#">Показать все</a>
    </header>

    <ul class="reviews__list">
        <li class="reviews__item">
            @@include('../bem-blocks/review-card/_review-card.html')
        </li>
        <li class="reviews__item">
            @@include('../bem-blocks/review-card/_review-card.html')
        </li>
        <li class="reviews__item">
            @@include('../bem-blocks/review-card/_review-card.html')
        </li>
    </ul>
</section>
