<section class="services container" aria-labelledby="services-title">
    <h2 id="services-title" class="visually-hidden">Сервисы и пополнение</h2>

    <ul class="services__list">
        <li class="services__item">
            <button class="services__service-button services__service-button--steam button-reset"
                type="button"
                aria-pressed="true">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/steam.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">Steam</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--telegram button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/telegram.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">Telegram</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--roblox button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/roblox.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">Roblox</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--brawl-stars button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/brawl-stars.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">Brawl Stars</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--pubg button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/pubg-mobile.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">PUBG Mob...</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--app-store button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/app-store.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">App Store</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--chatgpt button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/chatgpt.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">ChatGPT</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--playstation button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/playstation.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">PlayStation</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--tiktok button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/tiktok.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">TikTok</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--mobile-legends button-reset"
                type="button"
                aria-pressed="false">
                <span class="services__service-icon-wrapper">
                    <img class="services__service-icon"
                        src="img/services/mobile-legends.png"
                        width="72"
                        height="72"
                        alt="">
                </span>
                <span class="services__service-name">Mobile Leg...</span>
            </button>
        </li>
        <li class="services__item">
            <button class="services__service-button services__service-button--more button-reset"
                type="button">
                <span class="services__service-icon-wrapper">
                    <img class="services__more-icon"
                        src="img/icons/more-services-background.svg"
                        width="28"
                        height="28"
                        alt="">
                </span>
                <span class="services__service-name">еще 841</span>
            </button>
        </li>
    </ul>

    <div class="services__divider"></div>

    <form class="services__payment-form">
        <div class="services__selected-service">
            <span class="services__selected-icon-wrapper">
                <img class="services__service-icon"
                    src="img/services/steam.png"
                    width="72"
                    height="72"
                    alt="">
            </span>
            <div class="services__selected-content">
                <div class="services__selected-heading">
                    <span class="services__selected-title">Пополнение Steam</span>
                    <span class="services__commission">5%</span>
                </div>
                <button class="services__promo-button button-reset" type="button">
                    Ввести промокод
                    <img class="services__promo-icon"
                        src="img/icons/chevron-down.svg"
                        width="12"
                        height="12"
                        alt="">
                </button>
            </div>
        </div>

        <div class="services__field services__field--login">
            <img class="services__field-icon"
                src="img/icons/profile.svg"
                width="20"
                height="20"
                alt="">
            <label class="visually-hidden" for="steam-login">Логин Steam</label>
            <input id="steam-login"
                class="services__input"
                type="text"
                name="steam-login"
                placeholder="Логин Steam">
            <button class="services__info-button button-reset"
                type="button"
                aria-label="Где найти логин Steam">i</button>
        </div>

        <div class="services__field services__field--amount">
            <img class="services__field-icon"
                src="img/icons/amount.svg"
                width="20"
                height="20"
                alt="">
            <div class="services__amount-control">
                <label class="services__amount-label" for="payment-amount">Сумма</label>
                <input id="payment-amount"
                    class="services__amount-input"
                    type="text"
                    name="amount"
                    value="500₽"
                    inputmode="decimal">
            </div>
            <div class="services__currencies"
                role="group"
                aria-label="Валюта оплаты"
                data-currency-switcher>
                <button class="services__currency-button services__currency-button--active button-reset"
                    type="button"
                    aria-pressed="true">$</button>
                <button class="services__currency-button button-reset"
                    type="button"
                    aria-pressed="false">₸</button>
                <button class="services__currency-button button-reset"
                    type="button"
                    aria-pressed="false">₽</button>
            </div>
        </div>

        <button class="services__pay-button button-reset" type="submit">Оплатить 500$</button>
    </form>
</section>
